body {
  background-color: #f0f0f0;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
}

.circle {
  background-color: #fff;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joystick {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.joystickPlace {
  display: flex;
  width: 310px;
  justify-content: space-between;
  align-items: end;
  position: static;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.rect {
  width: 80px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right,
.middle {
  display: flex;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.rect2 {
  width: 80px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* padding: 30px 0; */
}

.square {
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.center {
  position: absolute;
  left: calc(50% - 30px);
}

.circle2 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: linear-gradient(135deg, #f2f2f2 0%, #ffffff 100%);
  box-shadow: -5px 5px 10px rgba(199, 199, 199, 0.2),
    5px -5px 10px rgba(199, 199, 199, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(199, 199, 199, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(199, 199, 199, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.upDown {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftRight {
  width: 170px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;

  z-index: 1000;
  display: none;
}
